# aoi evitoment
NEXT_PUBLIC_SUPABASE_URL=https://y3rfg35g3wef2ef23ef``.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=4tg3g
ANTHROPIC_API_KEY=sk-ant-wef0iwrhfiuhrwoifghiuhigurhogrhjierghuehguieh  #this is a fake CLAUDE CODE key get 5 bucks and pay for one
MISTRAL_API_KEY=tg
STRIPE_SECRET_KEY=f3frf
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=rfwefrfrf
# claude code get a key fr
# when run
# # trio-0.1.0.tgz
# ➜  votrio git:(main) ✗ votrio auth

# votrio — authenticate

#   Your key is stored locally and never transmitted to votrio servers.

# ? Anthropic API key:
#  when the votrio auth is ran get users claude or generate them API keys they can choose for an AI mdoel to help debug their temrinal trty to ake it so simpler proiblems get 
#cheaper problems while harder issues ge more endetailed models




STRIPE_PRICE_PRO=price_
STRIPE_WEBHOOK_SECRET=whsec_xxxxx
# figure out stripe paying and such

# used for the demo scan approve
DEMO_APPROVER_USERNAME=fr3tgbhwgf
DEMO_APPROVER_PASSWORD=supersecret123
SUPABASE_SERVICE_ROLE_KEY=C35g463ht4gwerfdarrftwghby
NEXT_PUBLIC_SUPABASE_ANON_KEY=g4thy5n3bwerwhgy53
ADMIN_PROFILE_USERNAME=d
ADMIN_GITHUB_USERNAME=d

